*{
    margin: 0px;
}

.climbikes{
    width: 100.3%;
    background-color: rgb(177, 112, 177);
    height: 80px;
    box-shadow: 0 0 6px rgb(105, 99, 99);
}

.hamburger{
    position: fixed;
    z-index: 10;
    width: 2.4%;
    height: 4%;
    padding-left: 800px;
    padding-top: 29px;
    cursor: pointer;
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translate(110%);
    box-shadow: 0 0 9px rgb(104, 104, 104);
}

.navegacion{
    color: rgb(141, 36, 141);
    font-family: Calibri;
    font-size: 22px;
    text-decoration: none;
}

.ancho{
    display: flex;
    width: 30%;
    margin-top: 20px;
    height: 70px;
    float: left;
    box-sizing: border-box;
    padding-left: 60px; 
    color: darkred;
}

.logo{
    padding-right: 15px;
    width: 50px;
    height: 45px;
}

.spread{
    transform: translate(0);
}

.register{
    border: 1px solid rgba(186, 0, 0, 0.397);
    border-radius: 8px;
    width: 670px;
    height: 360px;
    background-color: rgba(203, 44, 0, 0.342);
    display: flex;
    margin-top: 52px;
    margin-left: 300px;
}

.registro{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 25px;
    color: rgb(172, 0, 0);
}

.input-data{
    border: 1px solid rgb(255, 255, 255);
    width: 300px;
    height: 300px;
    margin-left: 25px;
    border-radius: 8px;
    background-color: white;
    margin-top: 26px;
}

.formulario{
    margin-left: 16px;
    margin-bottom: 16px;
    padding: 10px;
    width: 243px;
}

.boton{
    background-color: rgb(252, 67, 67);
    border: 1px solid hsl(0, 100%, 65%);
    padding: 8px;
    margin-left: 16px;
    margin-top: 15px;
    cursor: pointer;
}

.boton2{
    background-color: rgb(126, 16, 16);
    border: 1px solid rgba(82, 28, 28, 0);
    color: white;
    padding: 8px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 124px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.titulo2{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-top: 119px;
    margin-left: 65px;
    font-size: 17px;

}

body{
    background-image: url(https://cdn.pixabay.com/photo/2018/03/06/03/56/cyclist-3202481_1280.jpg);
    background-size: 1280px 585px;
    image-rendering: optimizeQuality;
}